<% content_for :title, "작업계획서 등록" %>

<div class="page page--editor">
  <div class="page__header">
<%= link_to work_plans_path, class: "btn btn--ghost btn--sm" do %>
      <i class="fa-solid fa-arrow-left"></i> 캘린더로
    <% end %>
  </div>

  <%= render "form", work_plan: @work_plan, department_names: @department_names %>
</div>
