<% content_for :title, "생활정보 수정" %>

<div class="page page--narrow">
  <div class="page__header">
    <h2 class="page__title">생활정보 수정</h2>
  </div>
  <%= render "form", life_info: @life_info %>
</div>
