<% content_for :title, "업무일지 수정" %>

<div class="page page--narrow">
  <div class="page__header">
    <%= link_to work_journal_path(@work_journal), class: "btn btn--ghost btn--sm" do %>
      <i class="fa-solid fa-arrow-left"></i> 돌아가기
    <% end %>
    <h1 class="page__title">업무일지 수정</h1>
  </div>

  <%= render "form", work_journal: @work_journal %>
</div>
