<% content_for :title, "Edit Post" %>

<div class="page page--narrow">
  <%= link_to "Back to post", @post, class: "back-link" %>

  <div class="page__header">
    <h1 class="page__title">Edit Post</h1>
  </div>

  <%= render "form", post: @post %>
</div>
