<% content_for :title, "New Post" %>

<div class="page page--narrow">
  <%= link_to "Back to posts", posts_path, class: "back-link" %>

  <div class="page__header">
    <h1 class="page__title">New Post</h1>
  </div>

  <%= render "form", post: @post %>
</div>
