<% content_for :title, "그룹 편집 — #{@group.name}" %>

<div class="page">
  <div class="page__header">
    <div class="page__header-actions">
      <%= link_to admin_group_path(@group), class: "btn btn--ghost btn--sm" do %>
        <iconify-icon icon="lucide:arrow-left"></iconify-icon> 그룹 상세
      <% end %>
    </div>
  </div>

  <%= render "form", group: @group %>
</div>
