<% content_for :title, "그룹 편집 — #{@group.name}" %>

<div class="page">
  <div class="page__header">
    <h1><%= @group.name %> 편집</h1>
    <div class="page__header-actions">
      <%= link_to admin_group_path(@group), class: "btn btn--ghost btn--sm" do %>
        <i class="fa-solid fa-arrow-left"></i> 그룹 상세
      <% end %>
    </div>
  </div>

  <%= render "form", group: @group %>
</div>
