<% if records.any? %>
  <span class="mp-day-summary">
    <iconify-icon icon="lucide:clipboard-check"></iconify-icon>
    <%= records.size %>건 · <%= records.sum(&:work_minutes) %>분
  </span>
<% end %>
