<%= turbo_stream.update "mp-records-#{@request_date.iso8601}" do %>
  <%= render partial: "record_row",
        collection: @records,
        as: :manpower_record,
        locals: { date: @request_date } %>
  <% if @records.empty? %>
    <p class="mp-records-empty">등록된 내역이 없습니다.</p>
  <% end %>
<% end %>

<%= turbo_stream.update "mp-summary-#{@request_date.iso8601}" do %>
  <%= render "day_summary", records: @records %>
<% end %>
